<!-- Love Meter Section -->
<section class="love-meter-section" id="loveMeterSection">
    <img src="partials/polaroid.png" alt="Polaroid" class="polaroid-right">
    <img src="partials/polaroid-2-compressed.gif" alt="Polaroid" class="polaroid-left">
    <div class="label">How much do you love me?</div>
    
    <div class="percentage-display" id="percentage">0%</div>
    
    <div class="slider-container" id="sliderContainer">
        <div class="custom-slider-track" id="sliderTrack"></div>
        <div class="custom-slider-thumb" id="sliderThumb"></div>
    </div>

    <div class="final-message" id="finalMessage">
        <p>Okay OKAY, I get it.</p>
        <p>I love you more!</p>
    </div>
</section>
