<!-- Playlist Section -->
<section class="playlist-section">
  <div class="floating-decor">
    <span>🎧</span>
    <span>🎶</span>
    <span>💗</span>
    <span>✨</span>
    <span>💿</span>
    <span>🎵</span>
  </div>

  <h2 class="playlist-title">Songs That Feel Like You</h2>
  <p class="playlist-subtitle">I made this randomlu but I think you're gonna love it too so I'm showing you my playlist rn even tho I didnt plan for it initially</p>

  <div class="playlist-embed">
    <img src="https://media.tenor.com/7MX8dRJmnAAAAAAi/milk-and-mocha.gif" alt="Milk and" class="playlist-overlay-gif">
    <iframe data-testid="embed-iframe" style="border-radius:12px; border: none;" src="https://open.spotify.com/embed/playlist/1ANtMJf3NndaO0ZYPmMeuw?utm_source=generator&theme=0" width="100%" height="600" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
</section>
